.form-checkbox{
    width:100%;
    margin-bottom:20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-checkbox input[type='checkbox']{
    margin-top:-5px;
}
/* 
.form-checkbox input[type='checkbox']:focus{
    border-bottom:2px solid var(--blue-50);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
} */
/* .form-checkbox.error input[type='checkbox']{
    border-bottom:2px solid red;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
} */

.form-checkbox label{
    font-size:14px;
    letter-spacing: 0.5px;
    color: var(--neutral-50);
    margin-right:10px;

}
.form-checkbox.error label {
    color: red;
}

.form-checkbox__error{
    font-size:12px;
}